body
{
    background-color: #121520;
    color: #eee;

    font-family: "Marcellus", arial;
    font-weight: 400;
    font-style: normal;
}

#album-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header>h1
{
    margin: 0px;
}

#track-list-container
{
    padding: 0px;
}

.track-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 20px;
    margin: 10px;
    border-radius: 47px;
    
    background-color: #ffffff50;
}

.track-number
{
    height: 1rem;
    margin: 20px;
}

.track-name,
.track-meta
{
    margin: 1px;
}

