body
{
    background-color: #121520;
    color: #eee;

    font-family: "Marcellus", arial;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#album-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: fit-content;
}

header>h1
{
    margin: 0px;
}

#track-list-container
{
    padding: 0px;
}

.track-item
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    padding: 20px;
    margin: 10px;
    border-radius: 47px;
    
    background-color: #ffffff50;
}

.track-number
{
    height: 54px;
    width: 54px;
    border-radius: 50%;

    background: #ffffff40;

    display: flex;
    align-items: center;
    justify-content: center;
}

.track-name,
.track-meta
{
    margin: 1px;
}

.track-meta>a
{
    color: #ddd;
    text-decoration: none;
}

#particle-bg
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: -1;
    background: #00000000;
}